{{ define "main" }}

{{ partial "page-title.html" . }}

<style>
  body {
    background-color: #050d0b;
  }
</style>

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-5 footer-bg">
        <img src="{{ .Params.image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
      </div>
      <div class="col-lg-7 mb-5 mb-lg-0 align-self-center">
        <div class="row mx-0">
          {{ with .Params.Client}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-user footer-bg shadow" style="color: #8f0707;"></i>
              <div class="ml-3">
                <h4 class="text-white">Cliente</h4>
                <p class="text-white">{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-folder footer-bg shadow" style="color: #8f0707;"></i>
              <div class="ml-3">
                <h4 class="text-white">Categoria</h4>
                <p class="text-white">{{ delimit .Params.categories ", " | humanize }}</p>
              </div>
            </div>
          </div>
          {{ with .Params.project_url}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-link footer-bg shadow" style="color: #8f0707;"></i>
              <div class="ml-3">
                <h4 class="text-white">Link del proyecto</h4>
                <p class="text-white">{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-11">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

<!-- portfolio -->
  <!-- portfolio -->
  <section class="section bg footer-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center texto">
          <h2 class="section-title text-white hover-neon texto"><span>Continuar viendo</span></h2>
        </div>
      </div>
      <div class="row shuffle-wrapper mb-5">
        {{ $item:= site.Data.homepage.portfolio.item_show }}
        {{ range first $item (where .Site.RegularPages "Section" "portfolio") }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{.Params.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ .Permalink | safeURL }}">Ver proyecto</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /portfolio -->
<!-- /portfolio -->

{{ end }}
