/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT: Project Name
VERSION: Versoin Number
-------------------------------------------------------------------*/

@font-face {
  font-family: bwnistaint-xbd;
  src: url(../fonts/BwNistaInt-xBd.woff) format("woff");
  font-style: normal;
  font-display: swap
}

body {
  line-height: 1.2;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c
}

p {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2
}

h1,
.h1 {
  font-size: 65px
}

@media(max-width:991px) {

  h1,
  .h1 {
    font-size: 65px
  }
}

h2,
.h2 {
  font-size: 55px
}

@media(max-width:991px) {

  h2,
  .h2 {
    font-size: 50px
  }
}

h3,
.h3 {
  font-size: 40px
}

h4,
.h4 {
  font-size: 22px
}

h5,
.h5 {
  font-size: 18px
}

h6,
.h6 {
  font-size: 14px
}

.btn {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease
}

.btn:focus {
  outline: 0;
  box-shadow: none !important
}

.btn:active {
  box-shadow: none
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px
}

.btn-primary {
  background: var(--primary-color);
  color: #fff
}

.btn-primary.active {
  opacity: .8;
}

.btn-primary:active {
  background: var(--primary-color) !important
}

.btn-primary:hover {
  background: var(--primary-color)
}

.btn-primary.focus,
.btn-primary.active {
  background: var(--primary-color) !important;
  box-shadow: none !important
}

.btn-transparent {
  background: transparent;
  color: var(--primary-color);
  font-weight: 700
}

.btn-transparent:active,
.btn-transparent:hover {
  color: var(--primary-color)
}

body {
  background-color: #fff;
  overflow-x: hidden
}

::selection {
  background: var(--primary-color);
  color: #fff
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center
}

ol,
ul {
  list-style-type: none;
  margin: 0
}

img {
  vertical-align: middle;
  border: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

a.text-dark:hover {
  color: var(--primary-color) !important
}

a:hover {
  color: var(--primary-color)
}

.slick-slide {
  outline: 0
}

.section {
  padding-top: 80px;
  padding-bottom: 5px
}

.section-title {
  margin-bottom: 80px;
  font-family: bwnistaint-xbd;
}

.hover-neon span{
  transition: .5s linear
}

.hover-neon:hover span{
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.3),
               0 0 10px rgba(255, 255, 255, 0.301), 
               0 0 30px rgba(129, 129, 129, 0.2);
}

.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.outline-0 {
  outline: 0 !important
}

.d-unset {
  display: unset !important
}

.bg-primary {
  background: var(--primary-color) !important
}

.bg-gray {
  background: #eaeaea !important
}

.text-primary {
  color: var(--primary-color) !important
}

.text-color {
  color: #4c4c4c
}

.text-dark {
  color: #000 !important
}

.text-light {
  color: #999 !important
}

.mb-10 {
  margin-bottom: 10px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mb-90 {
  margin-bottom: 90px !important
}

.mb-100 {
  margin-bottom: 100px !important
}

.zindex-1 {
  z-index: 1
}

.rounded-lg {
  border-radius: 15px
}

.overflow-hidden {
  overflow: hidden
}

.font-primary {
  font-family: roboto, serif !important
}

.font-secondary {
  font-family: 'Roboto', sans-serif; !important
}

.font-tertiary {
  font-family: bwnistaint-xbd !important
}

.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(0, 0, 0, 0.5) !important
}

.bg-dark {
  background-color: #222 !important
}

.icon {
  font-size: 45px;
  color: #8f0707;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center
}

.icon-light {
  color: #c8d5ef
}

.slick-dots {
  text-align: center;
  padding-left: 0
}

.slick-dots li {
  display: inline-block;
  margin: 2px
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, .5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}

.card {
  border: 0
}

.card-header {
  border: 0
}

.card-footer {
  border: 0
}

.navigation {
  padding: 40px 130px;
  transition: .3s ease
}

.navigation.nav-bg {
  background-color: var(--primary-color);
  padding: 15px 100px
}

@media(max-width:991px) {
  .navigation.nav-bg {
    padding: 15px 20px
  }
}

@media(max-width:991px) {
  .navigation {
    padding: 20px;
    background: var(--primary-color)
  }
}

.navbar .nav-item .nav-link {
  font-family: bwnistaint-xbd;
  text-transform: uppercase;
  padding: 15px
}

.navbar .nav-item.active .nav-link{
  color: #d8d8d8;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.hero-area {
  padding: 250px 0 200px;
  position: relative
}

@media(max-width:767px) {
  .hero-area {
    padding: 200px 0 150px;
    overflow: hidden
  }
}

.hero-area h1 {
  position: relative;
  z-index: 2
}

.layer {
  position: absolute;
  z-index: 1
}

#l1 {
  bottom: 0;
  left: 0
}

#l2 {
  top: 190px;
  left: -250px
}

#l3 {
  top: 200px;
  left: 40%
}

#l4 {
  top: 200px;
  right: 40%
}

#l5 {
  top: 100px;
  right: -150px
}

#l6 {
  bottom: -20px;
  left: 10%
}

#l7 {
  bottom: 100px;
  left: 20%
}

#l8 {
  bottom: 160px;
  right: 45%
}

#l9 {
  bottom: 100px;
  right: -10px
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.bg {
  height: 100%;
  object-fit: cover;
}

.progress-wrapper {
  height: 130px;
  overflow: hidden
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  animation: rotate 6s linear infinite;
  z-index: 10
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, .9);
  transform: translateX(-50%) rotate(0);
  animation: rotate 10s linear -5s infinite;
  z-index: 20
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg)
  }

  100% {
    transform: translateX(-50%) rotate(360deg)
  }
}

.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1
}

.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: var(--primary-color)
}

.hover-bg-primary:hover * {
  color: #fff
}

.active-bg-primary {
  transition: .3s ease;
  background: var(--primary-color)
}

.active-bg-primary * {
  color: #fff
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 0px 10px 5px #86868611 !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1.1)
}

.hover-wrapper:hover img {
  transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center
}

.testimonial-content strong {
  color: #2bfdff;
  font-weight: 400
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px
}

.footer-section {
  padding-top: 200px
}

.footer-section a {
  color: #fff;
}

.footer-bottom a {
  color: #999;
  text-decoration: underline;
}

.footer-section a:hover {
  color: #fff;
  text-decoration: underline;
}

.section-on-footer {
  margin-bottom: -250px
}

.shadow-down {
  position: relative
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, .34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.card-lg {
  flex-direction: row-reverse;
  align-items: center
}

@media(max-width:991px) {
  .card-lg {
    flex-direction: column
    
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid var(--primary-color);
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px;
  color: white;
}

.content strong {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  display: inherit;
  line-height: 1.5
}

.page-title-alt {
  padding: 250px 0 0px
}

.border-thick {
  border: 10px solid
}

.drag-lg-top {
  margin-top: -230px
}

@media(max-width:991px) {
  .drag-lg-top {
    margin-top: 0
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  transform: rotate(180deg)
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px
}

.page-title {
  padding: 250px 0 150px
}

.page-title .container {
  position: relative;
  z-index: 1
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg)
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px
}

.filter-controls li {
  cursor: pointer
}

.filter-controls li.active {
  font-weight: 700
}

.social-icons a{
  height: 100px;
  width: 100px;
  line-height: 102px;
  border-radius: 50%;
  display: block;
  color: rgb(49, 49, 49);
  background-color: white;
  font-size: 20px;
  text-align: center;
  color: #8f0707;
}

.project-meta{
  display: flex;
  align-items: center;
}

.project-meta i{
  height: 100px;
  min-width: 100px;
  line-height: 100px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  text-align: center;
  display: block;
  box-shadow:  0 18px 39.1px 6.9px rgba(224,241,255,.34);
  font-size: 30px;
}

.project-meta h4{
  font-weight: bold;
  font-size: 24px;
}

.project-meta p{
  margin-bottom: 0;
}



/* Code By Webdevtrick ( https://webdevtrick.com ) */
    .error .clip .shadow {
        height: 180px;
    }
    .error .clip:nth-of-type(2) .shadow {
        width: 130px; 
    }
    .error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow {
        width: 250px;
    }
    .error .digit {
        width: 150px;  
        height: 150px; 
        line-height: 150px; 
        font-size: 120px;
        font-weight: bold;
    }
    .error h2  {
        font-size: 32px;
    }
    .error .errorPage {
        margin-top: 10%;
        position: relative;
        height: 250px;
        padding-top: 40px;
    }
    .error .errorPage .clip {
        display: inline-block;
        transform: skew(-45deg);
    }
    .error .clip .shadow {
        overflow: hidden;
    }
    .error .clip:nth-of-type(2) .shadow {
        overflow: hidden;
        position: relative;
        box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150,0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8);
    }
    
    .error .clip:nth-of-type(3) .shadow:after, .error .clip:nth-of-type(1) .shadow:after {
        content: "";
        position: absolute;
        right: -8px;
        bottom: 0px;
        z-index: 9999;
        height: 100%;
        width: 10px;
        background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
        border-radius: 50%;
    }
    .error .clip:nth-of-type(3) .shadow:after  {
        left: -8px;
    }
    .error .digit {
        position: relative;
        top: 8%;
        color: white;
        background: #8f0707;
        border-radius: 50%;
        display: inline-block;
        transform: skew(45deg);
    }
    .error .clip:nth-of-type(2) .digit {
        left: -10%;
    }
    .error .clip:nth-of-type(1) .digit {
        right: -20%;
    }
    .error .clip:nth-of-type(3) .digit {
        left: -20%;
    }    
    .error h2 {
        color: #A2A2A2;
        font-weight: bold;
        padding-bottom: 20px;
    }


@media(max-width: 767px) {
.error .clip .shadow {
                height: 100px;  
            }
.error .clip:nth-of-type(2) .shadow {
                width: 80px; 
            }
.error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow   {
                width: 100px; 
            }
 .error .digit {
                width: 80px;   
                height: 80px;  
                line-height: 80px;
                font-size: 52px;
            }
  .error h2  {
                font-size: 24px;
            }
       
  .error .errorPage
  {
    height: 150px;
  }
}

.footer-bg {
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: all .2s ease-in-out;
  transition-duration: 0.5s;
}

.footer-bg:hover {
  transform: scale(1.1);
}

@media (max-width: 1035px) {
  .footer-bg:hover {
    transform: scale(1);
  }
}

.texto {
  background: linear-gradient(217deg, rgb(255, 255, 255) 34%, rgb(255, 0, 0) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 11px #00000028;
}

.texto2 {
  background: linear-gradient(-170deg, rgba(0, 0, 0, 0.746) 34%, rgb(255, 0, 0) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

