{{ define "main" }}

<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary texto footer-bg hover-neon"><span>{{ .Title }}</span></h1>
      </div>
    </div>
  </div>
  
  <!-- background shapes -->
  <img src="{{`images/illustrations/png.png`| relURL}}" alt="illustrations" class="bg-shape-1">
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-4">
  <img src="{{`images/illustrations/circlehsmed.png`| relURL}}" alt="illustrations" class="bg-shape-5">
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-6">
  <img src="{{`images/illustrations/circlehsmed.png`| relURL}}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="mb-4">
          <img src="{{.Params.author_image | absURL }}" alt="author"
            class="img-fluid w-100 rounded border border-danger">
        </div>
        <img src="{{.Params.author_signature | absURL }}" alt="signature" class="img-fluid">
        <h4>{{ site.Params.Author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- team -->
{{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}
<section class="section bg-cover">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center hover-neon texto2">
        <h2 class="section-title texto2 hover-neon"> <span>{{ .title | markdownify }}</span></h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4><a  class="text-light font-secondary" href="javascript:window.open('{{.linkedin}}','','toolbar=yes');void 0"><div class="ti-linkedin"></div></a>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

{{ if site.Data.homepage.clients_logo_slider.enable }}
<!-- client logo slider -->
<section class="section m-5">
  <div class="container">
    <div class="row footer-bg">
      <div class="col-12 text-md-center texto2">
        <h2 class="section-title texto2 hover-neon"><span>{{ site.Data.about.clients_logo_slider.title | markdownify }}</span></h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
<!-- /client logo slider -->
{{ end }}

{{ end }}