<div class="client-logo-slider d-flex align-items-center">
  {{ range site.Data.homepage.clients_logo_slider.item }}
  {{ if and ( ne .URL "" ) ( ne .URL "#" ) }}
  <a href="javascript:window.open('{{ .URL | safeURL }}','','toolbar=yes');void 0" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid" src="{{.logo | absURL}}" alt="client-logo"></a>
  {{ else }}

  <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid" src="{{.logo | absURL}}" alt="client-logo"></span>
  {{ end }}
  {{ end }}
</div>