<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center texto">
        <h1 class="text-white font-tertiary texto footer-bg hover-neon"><span>{{.Title}}</span></h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-4">
  <img src="{{`images/illustrations/circlehsmed.png`| relURL}}" alt="illustrations" class="bg-shape-5">
  <img src="{{`images/illustrations/circlehs.png`| relURL}}" alt="illustrations" class="bg-shape-6">
  <img src="{{`images/illustrations/circlehsmed.png`| relURL}}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->
