<!--Code By Webdevtrick ( https://webdevtrick.com )-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Counting Error 404 | Webdevtrick.com</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet'
    type='text/css'>
  <link rel="stylesheet" href="https://fran9.gitlab.io/headshotsite/css/style.min.css">
</head>

<style>
  body {
    background-color: #050d0b;
  }
</style>

<body>

  <script>
    // Code By Webdevtrick ( https://webdevtrick.com ) */
    function randomNum() {
      "use strict";
      return Math.floor(Math.random() * 9) + 1;
    }
    var loop1, loop2, loop3, time = 30, i = 0, number, selector3 = document.querySelector('.numberThree'), selector2 = document.querySelector('.numberTwo'),
      selector1 = document.querySelector('.numberOne');
    loop3 = setInterval(function () {
      "use strict";
      if (i & gt; 40)
    {
      clearInterval(loop3);
      selector3.textContent = 4;
    }else
    {
      selector3.textContent = randomNum();
      i++;
    }
              }, time);
    loop2 = setInterval(function () {
      "use strict";
      if (i & gt; 80)
    {
      clearInterval(loop2);
      selector2.textContent = 0;
    }else
    {
      selector2.textContent = randomNum();
      i++;
    }
              }, time);
    loop1 = setInterval(function () {
      "use strict";
      if (i & gt; 100)
    {
      clearInterval(loop1);
      selector1.textContent = 4;
    }else
    {
      selector1.textContent = randomNum();
      i++;
    }
              }, time);
  </script>

<div class="container mt-5">
  <a class="navbar-brand center-block" href="{{ site.BaseURL }}">
    {{ if site.Params.logo }}
    <img src="{{ site.Params.logo | absURL }}" alt="{{site.Title}}">
    {{ else }}
    <h3 class="text-white font-tertiary">{{site.Title}}</h3>
    {{ end }}
  </a>
  <h5 class="text-white mt-5">Click en el logo para volver al inicio</h2>
  <div class="navbar-brand center-block"> <img src="/headshot/static/images/logo.png" alt=""></div>
</div>


  <div class="error">
    <div class="container-floud">
      <div class="col-xs-12 ground-color text-center">
        <div class="errorPage">
          <div class="clip">
            <div class="shadow"><span class="digit numberThree"></span></div>
          </div>
          <div class="clip">
            <div class="shadow"><span class="digit numberTwo"></span></div>
          </div>
          <div class="clip">
            <div class="shadow"><span class="digit numberOne"></span></div>
          </div>
        </div>
        <h2 style="color: white;">Uuuh! Pagina no encontrada</h2>
      </div>
    </div>
  </div>

</body>

</html>