{{ define "main" }}


  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto texto">
          <h1 class="text-white font-tertiary texto hover-neon"><span>{{ site.Data.homepage.banner.title | safeHTML }}</span></h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100 bg">
      <img class="img-fluid w-100 h-100 bg" src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/backgrounds/hs.jpg` | relURL}}" alt="bg-image">
    </div>
    <div class="layer" id="l2">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/png.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/circlehs.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l4">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/circlehs.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l5">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/trianglehs.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l6">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/trianglehs.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l7">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/png.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l8">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/circlehs.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l9">
      <img src="{{`https://gitlab.com/fran9/headshotsite/-/raw/master/static/images/illustrations/circlehsmed.png` | relURL}}" alt="bg-shape">
    </div>
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range site.Params.social }}
      <li class="mb-3"><a class="text-white" href="javascript:window.open('{{.URL | safeURL }}','','toolbar=yes');void 0"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>
    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if site.Data.homepage.about.enable }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div data-aos="fade-in" data-aos-duration="2000" data-aos-mirror="true" class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}
          <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-transparent" style="color: #8f0707;">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  {{ end }}


  {{ if site.Data.homepage.skill.enable }}
  {{ with site.Data.homepage.skill }}
  
  {{ end }}
  {{ end }}

  {{ if site.Data.homepage.experience.enable }}
  {{ with site.Data.homepage.experience }}
  <!-- experience -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center texto2">
          <h2 class="section-title texto2 hover-neon"> <span>{{ .title | markdownify }}</span></h2>
        </div>
        {{ range .item }}
        <div class="col-lg-3 col-md-4 text-center">
          <img src="{{.logo | relURL }}" alt="icon">
          <p class="mb-0">{{.duration}}</p>
          <h4>{{.title }}</h4>
          <h6 class="text-light">{{.company }}</h6>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /experience -->
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.service.enable }}
  {{ with site.Data.homepage.service }}
  <!-- services -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center texto2">
          <h2 data-aos="fade-in" data-aos-duration="2000" data-aos-mirror="true"  class="section-title texto2 hover-neon"> <span>{{ .title | markdownify }}</span></h2>
        </div>
        {{ range .item }}
        <div data-aos="flip-right" data-aos-duration="2000" data-aos-mirror="true" class="col-md-4 mb-4 aos-item">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow">
            <div class="card-body text-center px-4 py-5">
              <i class="{{.icon }} icon mb-5 d-inline-block"></i>
              <h4 class="mb-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}
  {{ end }}


  {{ if site.Data.homepage.portfolio.enable }}
  <!-- portfolio -->
  <section class="section bg footer-bg hover-shadow" data-background="{{`images/backgrounds/bg-filled.jpg` | absURL}}">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title text-white hover-neon texto"><span>{{ site.Data.homepage.portfolio.title | markdownify }}</span></h2>
        </div>
      </div>
      <div class="row shuffle-wrapper mb-5">
        {{ $item:= site.Data.homepage.portfolio.item_show }}
        {{ range first $item (where .Site.RegularPages "Section" "portfolio") }}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{.Params.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ .Permalink | safeURL }}">Ver proyecto</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /portfolio -->
  {{ end }}

  {{ if site.Data.homepage.clients_logo_slider.enable }}
  <!-- client logo slider -->
  <section class="section m-5">
    <div data-aos="fade-up" data-aos-duration="2000" data-aos-mirror="true"  class="container">
      <div class="row footer-bg">
        <div class="col-12 text-md-center texto2">
          <h2 class="section-title texto2 hover-neon"><span>{{ site.Data.about.clients_logo_slider.title | markdownify }}</span></h2>
        </div>
      </div>
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /client logo slider -->
  {{ end }}

  {{ if site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{site.Data.homepage.blog.title | markdownify }}</h2>
        </div>
        {{ range first 3 (where .Site.RegularPages "Section" "blog")}}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}




{{ end }}