{{ define "main" }}

<style>
  body {
    background-color: #050d0b;
  }
</style>

<section class="section mt-5">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-12 text-center texto mt-5">
        <h2 class="section-title texto footer-bg mt-5 hover-neon"><span>Seguínos en redes sociales</span></h2>
      </div>
      <div class="col-12 mt-5">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item"><a href="javascript:window.open('{{.URL}}','','toolbar=yes');void 0"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}